body {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    background : #c4c4c4 !important;
    margin-left: 13%;
    margin-right: 13%;
}

.bg{
    background: #9e2500;
    border: 1.25px solid black;
    margin-left: 8%;
    margin-right: 8%;
    margin-top : 3.3%;
}

h1{
    text-align : center;
    color : #d6d6d6;
}
h4{
    color : #F5F5F5;
}
.subpresentation{
    font-size : 15px;
    margin-left : 13%;
    margin-right : 13%;
    padding-left : 2%;
    padding-right : 2%;
    padding-top : 0.5%;
    text-align : justify;
    color : #F5F5F5;
}
.presentation{
    margin-top : 1%;
}

.vader{
    width : 65%;
    margin-top : 1.5%;
    border : 1px solid black;
    padding : 3px;
}
.captain{
    width : 65%;
    margin-top : 1.5%;
    border : 1px solid black;
    padding : 3px;
}

.mid{
    margin-top : 3%;
    text-align : center;
}

.quote{
    text-align : center;
    margin-top : 48%;
    margin-left : -10%;
}
#message{
    margin-top : -7%;
    color : #F5F5F5;
}
#message2{
    margin-top : -5%;
    color : #F5F5F5;
}
#txt{
    margin-top : 1%;
}
#button{
    margin-top : 3%;
    margin-left : 10%;
}